.lyratitle {
  text-shadow: 0 0 4px var(--theme-fg);
}

main {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1080px) {
  .mob {
    display: none;
  }
}

@media (max-width: 1080px) {
  .terminal {
    width: 100%;
  }

  .desk {
    display: none;
  }
}

.itemMenu {
  animation: none;
}

main {
  overflow-y: scroll;
}

.overbox {
  position: absolute;
  z-index: 10;
  color: var(--theme-bg);
  background-color: var(--theme-bg);
  box-shadow: none;
  text-shadow: none;
}

.fontTitle {
  font-family: "Technor-Variable";
  font-weight: 400;
  font-size: 6rem;
  color: var(--theme-fg);
  transition: all 0.6s ease;
  /* opacity: 0; */
  transform: translateY(150px);
  text-transform: uppercase;
  text-shadow: 0 0 4px var(--theme-fg);
}

.itemPoster--visible {
  transform: translateY(0px);
}

.itemPoster--hidden {
  transform: translateY(150px);
}